*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
    650px circle at 0% 0%,
    hsl(218, 41%, 35%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 25%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%
  ),
    radial-gradient(
      650px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

h2{
  color: hsl(0, 0%, 100%);
  font-size: 35px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 4px;
}

h3{
  color: hsl(0, 0%, 100%);
  font-size: 35px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 4px;
  margin-bottom: 50px;
}

h4{
  color: hsl(0, 0%, 100%);
  font-size: 32px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 3px;
}

h5{
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 5px;
  line-height: 1.1em;
}

.header{
  margin: 10px 0px 5px 0px;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0;
}

.form-container .box{
  position: relative;
  width: 320px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:  0.5s;
}

.form-container .box::before{
  content:  '';
  position: absolute;
  top:  0;
  width: 80%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform:  skewX(15deg);
  transition: 0.5s;
}

.form-container .box::after{
  content:  '';
  position: absolute;
  top:  0;
  left: 50px;
  width: 80%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform:  skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}

.form-container .box:hover:before,
.form-container .box:hover:after{
  transform:  skewX(0deg);
  left: 20px;
  width: calc(100% -90px);
}

.form-container .box:nth-child(1):before,
.form-container .box:nth-child(1):after{
  background: linear-gradient(315deg,#03a9f4,#ff0058);
}

.form-container .box span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.form-container .box span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form-container .box:hover span::before{
  top: -20px;
  left: 50px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.form-container .box span::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}

.form-container .box:hover span::after{
  bottom: -20px;
  right: 50px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

@keyframes animate{
  0%,100%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(-10px);
  }
}

.form-container .box .content{
  position: relative;
  left: 0;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
  color: #fff;
}

.form-container .box:hover .content{
  left: -25px;
  padding: 20px 20px;
}

.form-container .box .content h4{
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.form-container .box .content .nip-form{
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.form-container .box .content .button{
  display: inline-block;
  color: #111;
  background: #0275d8;
  padding: 5px;
  border-radius:12px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 10px;
}

.shine{
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(0, 0%, 30%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  animation: shine 3s infinite linear;
}

@keyframes shine{
  0%,100%{
    transform: translateY(2px);
  }
  50%{
    transform: translateY(-2px);
  }
}

.register-form{
  margin-top: 30px;
}
