{% extends "base.html" %}

{% block page_title %}
	SISIPEDI | {{page_title}}
{% endblock page_title %}


{% block contents %}
	 <div class="form-group col-9 mx-auto mt-5">
		<h1>{{title}}</h1>
	</div>
	
	<form method="POST">
		{% csrf_token %}

		{% for form in diklat_form %}
			<div class="form-group col-9 mx-auto">
				{{form.label}}
				{{form}}
			</div>
			<br>
		{% endfor %}

		<div class="form-group col-9 mx-auto">
			<button class='btn btn-primary' type="Submit">Add Diklat</button>
		</div>
	</form>
{% endblock contents %}