{% extends "base.html" %}

{% block page_title %}
	SISIPEDI | {{page_title}}
{% endblock page_title %}

{% block contents %}
<div class="register">
	<div class="text-center mt-2">
         <h3><span>{{title}}</span></h3>
    </div>
	
	   {% if messages %}
        	<div class="messages col-9 mx-auto mt-" role="alert">
            	{% for message in messages %}
                	{{ message }}
            	{% endfor %}
        	</div>
    	{% endif %}

	<form method="POST">
			{% csrf_token %}

			{% for form in register_form %}
				<div class="form-group col-7 mx-auto">
					<h5>{{form.label}}</h5>
					{{form}}
				</div>
				<br>
			{% endfor %}
			
			<br>
			
			<div class="form-group col-7 mx-auto">
			<button class='btn btn-primary shine' type="Submit">Daftar</button>
		</div>
	</form>
</div>
    

{% endblock contents %}